database.default.hostname = localhost
# database.default.database = your_database_name
# database.default.username = your_user
# database.default.password = your_password
# database.default.DBDriver = MySQLi
# database.default.port = 3306
