# --------------------------------------------------------------------
# Environment Configuration Template
# --------------------------------------------------------------------
CI_ENVIRONMENT = development

# App Settings
app.baseURL = 'http://localhost:8080/'
app.forceGlobalSecureRequests = false

# Database Settings
database.default.hostname = localhost
database.default.database = phatthalun_2026db
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi
database.default.port = 3306

# Gemini AI API Key
GEMINI_API_KEY = ""
