-- MySQL dump 10.13  Distrib 8.0.31, for Win64 (x86_64)
--
-- Host: localhost    Database: phatthalun_2026db
-- ------------------------------------------------------
-- Server version	8.0.31

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `citizen_contacts`
--

DROP TABLE IF EXISTS `citizen_contacts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `citizen_contacts` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `tracking_code` varchar(50) NOT NULL,
  `full_name` varchar(255) NOT NULL,
  `phone` varchar(50) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `district` varchar(100) DEFAULT NULL,
  `category` varchar(100) NOT NULL DEFAULT 'general',
  `subject` varchar(255) NOT NULL,
  `message` text NOT NULL,
  `attachment` varchar(255) DEFAULT NULL,
  `status` enum('pending','in_progress','resolved','rejected') NOT NULL DEFAULT 'pending',
  `officer_note` text,
  `resolved_at` datetime DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tracking_code` (`tracking_code`),
  KEY `status` (`status`),
  KEY `category` (`category`)
) ENGINE=MyISAM AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `citizen_contacts`
--

LOCK TABLES `citizen_contacts` WRITE;
/*!40000 ALTER TABLE `citizen_contacts` DISABLE KEYS */;
INSERT INTO `citizen_contacts` VALUES (1,'PTL-260831-78P3','เธชเธกเธกเธธเธ•เธด  เธชเธธเธ”เธซเธฅเนเธญ','0815399135','fenics128@gmail.com','เน€เธกเธทเธญเธเธเธฑเธ—เธฅเธธเธ','general','เธ—เธ”เธชเธญเธเธเธฒเธฃเธ•เธดเธ”เธ•เนเธญเธเธญเธเธเธฃเธฐเธเธฒเธเธ','เธ—เธ”เธชเธญเธเธเธฒเธฃเธ—เธณเธเธฒเธเธเธญเธเธฃเธฐเธเธ',NULL,'resolved','เน€เธฃเธตเธขเธเธฃเนเธญเธขเธเธฃเธฑเธ','2026-08-31 08:38:23','::1','2026-08-31 08:36:04','2026-08-31 08:38:23');
/*!40000 ALTER TABLE `citizen_contacts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `emenscr_settings`
--

DROP TABLE IF EXISTS `emenscr_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `emenscr_settings` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `api_endpoint` varchar(255) NOT NULL DEFAULT 'https://emenscr.nesdc.go.th/api/v1/provincial/projects',
  `api_token` varchar(255) DEFAULT NULL,
  `province_code` varchar(50) NOT NULL DEFAULT '93',
  `province_name` varchar(100) NOT NULL DEFAULT 'เธเธฑเธ—เธฅเธธเธ',
  `auto_sync` tinyint(1) NOT NULL DEFAULT '1',
  `sync_frequency` varchar(50) NOT NULL DEFAULT 'daily',
  `last_sync_status` varchar(100) NOT NULL DEFAULT 'ready',
  `last_sync_time` datetime DEFAULT NULL,
  `last_sync_message` text,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emenscr_settings`
--

LOCK TABLES `emenscr_settings` WRITE;
/*!40000 ALTER TABLE `emenscr_settings` DISABLE KEYS */;
INSERT INTO `emenscr_settings` VALUES (1,'https://emenscr.nesdc.go.th/api/v1/provincial/projects','','93','เธเธฑเธ—เธฅเธธเธ',1,'daily','success','2026-08-24 02:51:57','เน€เธเธทเนเธญเธกเนเธขเธเนเธฅเธฐเธเธดเธเธเนเธเนเธญเธกเธนเธฅเธเธธเธ”เนเธเธฃเธเธเธฒเธฃเธขเธธเธ—เธเธจเธฒเธชเธ•เธฃเนเธเธฑเธเธซเธงเธฑเธ”เธเธฑเธ—เธฅเธธเธเธชเธณเน€เธฃเนเธ (Baseline Dataset Synchronized) (เธเธณเธเธงเธ 16 เนเธเธฃเธเธเธฒเธฃ)','2026-08-24 02:42:40','2026-08-24 02:51:57');
/*!40000 ALTER TABLE `emenscr_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `executives`
--

DROP TABLE IF EXISTS `executives`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `executives` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `position` varchar(255) DEFAULT NULL,
  `image_path` varchar(255) DEFAULT NULL,
  `order_num` int NOT NULL DEFAULT '0',
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `executives`
--

LOCK TABLES `executives` WRITE;
/*!40000 ALTER TABLE `executives` DISABLE KEYS */;
/*!40000 ALTER TABLE `executives` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gallery_albums`
--

DROP TABLE IF EXISTS `gallery_albums`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gallery_albums` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `cover_image` varchar(255) DEFAULT NULL,
  `description` text,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gallery_albums`
--

LOCK TABLES `gallery_albums` WRITE;
/*!40000 ALTER TABLE `gallery_albums` DISABLE KEYS */;
/*!40000 ALTER TABLE `gallery_albums` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gallery_photos`
--

DROP TABLE IF EXISTS `gallery_photos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gallery_photos` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `album_id` int unsigned NOT NULL,
  `image_path` varchar(255) NOT NULL,
  `caption` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `gallery_photos_album_id_foreign` (`album_id`)
) ENGINE=MyISAM AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gallery_photos`
--

LOCK TABLES `gallery_photos` WRITE;
/*!40000 ALTER TABLE `gallery_photos` DISABLE KEYS */;
/*!40000 ALTER TABLE `gallery_photos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ita_documents`
--

DROP TABLE IF EXISTS `ita_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ita_documents` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `oit_code` varchar(50) NOT NULL,
  `name` varchar(255) NOT NULL,
  `url` varchar(255) DEFAULT NULL,
  `year` varchar(4) DEFAULT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'active',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ita_documents`
--

LOCK TABLES `ita_documents` WRITE;
/*!40000 ALTER TABLE `ita_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `ita_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `version` varchar(255) NOT NULL,
  `class` varchar(255) NOT NULL,
  `group` varchar(255) NOT NULL,
  `namespace` varchar(255) NOT NULL,
  `time` int NOT NULL,
  `batch` int unsigned NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `news`
--

DROP TABLE IF EXISTS `news`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `news` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `category` varchar(100) NOT NULL DEFAULT 'เธเนเธฒเธงเธเธฃเธฐเธเธฒเธชเธฑเธกเธเธฑเธเธเน',
  `content` text NOT NULL,
  `thumbnail` varchar(255) DEFAULT NULL,
  `images_gallery` longtext,
  `attachments` longtext,
  `cover_fit` varchar(50) DEFAULT 'cover',
  `is_event` tinyint(1) DEFAULT '0',
  `event_start_date` varchar(50) DEFAULT NULL,
  `event_end_date` varchar(50) DEFAULT NULL,
  `event_location` varchar(255) DEFAULT NULL,
  `event_coordinates` varchar(255) DEFAULT NULL,
  `status` enum('draft','published','archived') NOT NULL DEFAULT 'published',
  `views_count` int NOT NULL DEFAULT '0',
  `author_id` int unsigned DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=MyISAM AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `news`
--

LOCK TABLES `news` WRITE;
/*!40000 ALTER TABLE `news` DISABLE KEYS */;
/*!40000 ALTER TABLE `news` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nora_knowledge`
--

DROP TABLE IF EXISTS `nora_knowledge`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nora_knowledge` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `intent` varchar(100) NOT NULL,
  `keywords` text,
  `answer_text` text NOT NULL,
  `action_link` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nora_knowledge`
--

LOCK TABLES `nora_knowledge` WRITE;
/*!40000 ALTER TABLE `nora_knowledge` DISABLE KEYS */;
/*!40000 ALTER TABLE `nora_knowledge` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `official_emails`
--

DROP TABLE IF EXISTS `official_emails`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `official_emails` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `message_uid` varchar(100) NOT NULL,
  `sender_name` varchar(255) DEFAULT NULL,
  `sender_email` varchar(255) NOT NULL,
  `recipient_email` varchar(255) NOT NULL DEFAULT 'phatthalung@moi.go.th',
  `subject` varchar(500) DEFAULT NULL,
  `body_plain` longtext,
  `body_html` longtext,
  `received_at` datetime DEFAULT NULL,
  `has_attachment` tinyint(1) NOT NULL DEFAULT '0',
  `attachments_json` text,
  `is_read` tinyint(1) NOT NULL DEFAULT '0',
  `is_starred` tinyint(1) NOT NULL DEFAULT '0',
  `category` varchar(50) NOT NULL DEFAULT 'inbox',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `tags` varchar(255) DEFAULT NULL,
  `starred` tinyint(1) DEFAULT '0',
  `converted_request_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `message_uid` (`message_uid`),
  KEY `sender_email` (`sender_email`),
  KEY `is_read` (`is_read`),
  KEY `is_starred` (`is_starred`),
  KEY `category` (`category`)
) ENGINE=MyISAM AUTO_INCREMENT=74 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `official_emails`
--

LOCK TABLES `official_emails` WRITE;
/*!40000 ALTER TABLE `official_emails` DISABLE KEYS */;
/*!40000 ALTER TABLE `official_emails` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pages`
--

DROP TABLE IF EXISTS `pages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pages` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `parent_id` int unsigned DEFAULT NULL,
  `order_num` int DEFAULT '0',
  `title` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `template_type` varchar(50) DEFAULT 'standard',
  `is_featured` tinyint(1) DEFAULT '0',
  `header_image` varchar(255) DEFAULT NULL,
  `content` longtext,
  `views` int unsigned NOT NULL DEFAULT '0',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=MyISAM AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pages`
--

LOCK TABLES `pages` WRITE;
/*!40000 ALTER TABLE `pages` DISABLE KEYS */;
/*!40000 ALTER TABLE `pages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `procurements`
--

DROP TABLE IF EXISTS `procurements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `procurements` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `budget` decimal(15,2) DEFAULT NULL,
  `method` varchar(100) DEFAULT NULL,
  `category` varchar(100) DEFAULT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'active',
  `doc_path` varchar(255) DEFAULT NULL,
  `published_date` date DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `procurements`
--

LOCK TABLES `procurements` WRITE;
/*!40000 ALTER TABLE `procurements` DISABLE KEYS */;
/*!40000 ALTER TABLE `procurements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `provincial_projects`
--

DROP TABLE IF EXISTS `provincial_projects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `provincial_projects` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `emenscr_code` varchar(100) DEFAULT NULL,
  `fiscal_year` int NOT NULL DEFAULT '2568',
  `project_name` varchar(255) NOT NULL,
  `agency` varchar(255) NOT NULL,
  `pillar_number` int NOT NULL DEFAULT '1',
  `pillar_title` varchar(255) DEFAULT NULL,
  `budget` decimal(15,2) NOT NULL DEFAULT '0.00',
  `disbursed_budget` decimal(15,2) NOT NULL DEFAULT '0.00',
  `objectives` text,
  `kpis` text,
  `progress_pct` int NOT NULL DEFAULT '0',
  `status` enum('pending','in_progress','completed','delayed') NOT NULL DEFAULT 'in_progress',
  `status_desc` text,
  `district` varchar(100) NOT NULL DEFAULT 'เน€เธกเธทเธญเธเธเธฑเธ—เธฅเธธเธ',
  `subdistrict` varchar(100) DEFAULT NULL,
  `location_name` varchar(255) DEFAULT NULL,
  `latitude` decimal(11,8) DEFAULT NULL,
  `longitude` decimal(11,8) DEFAULT NULL,
  `photos` longtext,
  `documents` longtext,
  `is_featured` tinyint(1) NOT NULL DEFAULT '0',
  `last_sync_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fiscal_year` (`fiscal_year`),
  KEY `district` (`district`),
  KEY `status` (`status`)
) ENGINE=MyISAM AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `provincial_projects`
--

LOCK TABLES `provincial_projects` WRITE;
/*!40000 ALTER TABLE `provincial_projects` DISABLE KEYS */;
/*!40000 ALTER TABLE `provincial_projects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `search_indexes`
--

DROP TABLE IF EXISTS `search_indexes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `search_indexes` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `source_type` varchar(50) NOT NULL,
  `source_id` varchar(50) NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` text,
  `url` varchar(255) DEFAULT NULL,
  `image_url` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=87 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `search_indexes`
--

LOCK TABLES `search_indexes` WRITE;
/*!40000 ALTER TABLE `search_indexes` DISABLE KEYS */;
/*!40000 ALTER TABLE `search_indexes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `services`
--

DROP TABLE IF EXISTS `services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `services` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `service_name` varchar(200) NOT NULL,
  `description` varchar(300) DEFAULT NULL,
  `icon_class` varchar(100) NOT NULL DEFAULT 'fa-solid fa-laptop-file',
  `external_url` varchar(255) NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `sort_order` int NOT NULL DEFAULT '0',
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `services`
--

LOCK TABLES `services` WRITE;
/*!40000 ALTER TABLE `services` DISABLE KEYS */;
/*!40000 ALTER TABLE `services` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `settings` (
  `setting_key` varchar(100) NOT NULL,
  `setting_value` text,
  `setting_group` varchar(50) NOT NULL DEFAULT 'general',
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`setting_key`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `site_banners`
--

DROP TABLE IF EXISTS `site_banners`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `site_banners` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(255) DEFAULT NULL,
  `subtitle` varchar(255) DEFAULT NULL,
  `badge_title` varchar(100) DEFAULT NULL,
  `badge_icon` varchar(100) DEFAULT NULL,
  `bg_type` varchar(50) NOT NULL DEFAULT 'image',
  `image_path` varchar(255) DEFAULT NULL,
  `floating_img_path` varchar(255) DEFAULT NULL,
  `floating_pos` varchar(50) DEFAULT NULL,
  `floating_anim` varchar(50) DEFAULT NULL,
  `card_placement` varchar(50) DEFAULT NULL,
  `desc` text,
  `button_text` varchar(100) DEFAULT NULL,
  `button_url` varchar(255) DEFAULT NULL,
  `button_icon` varchar(100) DEFAULT NULL,
  `style_class` varchar(100) DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `site_banners`
--

LOCK TABLES `site_banners` WRITE;
/*!40000 ALTER TABLE `site_banners` DISABLE KEYS */;
/*!40000 ALTER TABLE `site_banners` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `username` varchar(100) NOT NULL,
  `email` varchar(255) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` enum('admin','officer','citizen') NOT NULL DEFAULT 'officer',
  `full_name` varchar(150) NOT NULL,
  `avatar` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=MyISAM AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'admin','admin@phatthalung.go.th','$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi','admin','เธ”เธฃ.เธชเธธเน€เธ—เธ เธเธนเนเธ”เธนเนเธฅเธฃเธฐเธเธเธชเธนเธเธชเธธเธ”',NULL,'2026-09-09 10:44:11','2026-09-09 10:44:11'),(2,'officer','officer@phatthalung.go.th','$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi','officer','เธชเธกเนเธ เธเธเธดเธเธฑเธ•เธดเธเธฒเธฃเธจเธนเธเธขเนเธ”เธณเธฃเธเธเธฃเธฃเธก',NULL,'2026-09-09 10:44:11','2026-09-09 10:44:11');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-18 17:12:31
